.list-wrapper {
  width: 640px;
}

.title{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.todo-form input, .todo-form select {
  margin-right: 8px;
  padding: 8px 16px;
}

.todo-form input {
  flex-grow: 1;
}

.add-button {
  border: 1px solid teal;
  color: white;
  padding: 8px 16px;
  background-color: teal;
  border-radius: 8px;
}
