<div class="title">
  <h2>To Do List</h2>
  <div>
    <label for="colorFilter">filter by color:</label>
    <select name="color" id="colorFilter" [(ngModel)]="colorFilter" (ngModelChange)="filterByColor()">
      <option value="">All</option>
      <option *ngFor="let option of colors" [value]="option">{{option}}</option>
    </select>
  </div>
</div>
<form class="todo-form">
  <input type="text" name="title" [(ngModel)]="newItem.title">
  <select name="priority" [(ngModel)]="newItem.priority">
    <option *ngFor="let option of priorities" [value]="option">{{priorityLabels[option]}}</option>
  </select>
  <select name="color" [(ngModel)]="newItem.color">
    <option *ngFor="let option of colors" [value]="option">{{option}}</option>
  </select>
  <button class="add-button" (click)="addNewItem()">ADD</button>
</form>
<div class="list-wrapper">
  <h2>To Do</h2>
  <app-to-do-list-item *ngFor="let item of filteredList; let index= index" [item]="item"
                       (done)="doneTodo($event, index)"
                       (pin)="pinTodo($event,index)"></app-to-do-list-item>
</div>
<hr>
<div class="list-wrapper" *ngIf="doneList && doneList.length">
  <h2>Done</h2>
  <app-to-do-list-item *ngFor="let item of doneList; let index= index" [item]="item"
                       (done)="doneTodo($event, index)"
                       (pin)="pinTodo($event,index)"></app-to-do-list-item>
</div>
