<div class="todo" [style.background-color]="item.color">
  <input type="checkbox" [checked]="item.isDone" (ngModelChange)="doneTodo()" [(ngModel)]="item.isDone">
  <p class="todo__title">{{item.title}}</p>
  <p class="todo__priority">{{priorityLabels[item.priority]}}</p>
  <button (click)="pinTodo()" class="pin-button">{{item.pinned ? 'unpin' : 'pin'}}</button>
</div>
