.todo {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 8px 16px;
  margin-bottom: 12px;
}

.todo__title {
  flex-grow: 1;
}

.pin-button{
  border: 1px solid aqua;
  color: black;
  padding: 8px 16px;
  background-color: aqua;
  border-radius: 8px;
  margin-left: 8px;
}
